@model IEnumerable<WebApplication1.Models.Film>
@{
    ViewBag.Title = "Все фильмы";
}
<a asp-action="CreateFilm">Добавить фильм</a>
<table class="table">
    <tr><td>Имя</td><td>Картинка</td><td>Описание</td><td>Рейтинг</td><td>Жанр</td></tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Name</td>
    <td><img src="@item.Image" width="400"></td>
    <td>@item.Description</td>
    <td>@item.Rating</td>
    <td>@item.Type</td>
    <td>
        <a asp-action="EditFilm" asp-controller="Home" asp-route-id="@item.Id">Изменить</a> |
        <a asp-action="DeleteFilm" asp-controller="Home" asp-route-id="@item.Id">Удалить</a>
    </td>
</tr>
    }
</table>
